streamlit
pandas
numpy
scikit-learn
fuzzywuzzy
opencv-python
matplotlib
scikit-image
piexif
Pillow
plotly
pdf2image
PyPDF2
requests
certifi
pytesseract
PyMuPDF
python-docx
python-pptx
scipy
dask
chardet
psutil
mysql-connector-python
cryptography
duckdb
altair
catboost
lightgbm
joblib
xgboost
seaborn
shap
lime
category-encoders
eli5
tqdm
beautifulsoup4
nltk
textblob
vaderSentiment
gensim
umap-learn
wordcloud
transformers
sumy
spacy
